#-------------------------------------------------------------------------------
## MAC Engine
#-------------------------------------------------------------------------------
# Master reset input
NET "CPU_RESET_0"       LOC = "AB7" |SLEW=SLOW |IOSTANDARD=LVCMOS18;
# Master clock input
NET "SYSCLK_P_0"        LOC = "AD12" |IOSTANDARD="LVDS";
NET "SYSCLK_N_0"        LOC = "AD11" |IOSTANDARD="LVDS";
# Ethernet control interface
NET "PHY_RESET_L_0"     LOC = "L20" |SLEW=SLOW |IOSTANDARD=LVCMOS25;
NET "PHY_MDC_0"         LOC = "R23" |SLEW=SLOW |IOSTANDARD=LVCMOS25;
NET "PHY_MDIO_0"        LOC = "J21" |SLEW=SLOW |IOSTANDARD=LVCMOS25;
# Interface to gigabit phy
NET "PHY_TXCTL_TXEN_0"  LOC = "M27" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXER_0"        LOC = "N29" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXC_GTXCLK_0"  LOC = "K30" |SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS25;
NET "PHY_TXCLK_0"       LOC = "M28" |IOSTANDARD=LVCMOS25;
NET "PHY_TXD_0<0>"      LOC = "N27" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXD_0<1>"      LOC = "N25" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXD_0<2>"      LOC = "M29" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXD_0<3>"      LOC = "L28" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXD_0<4>"      LOC = "J26" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXD_0<5>"      LOC = "K26" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXD_0<6>"      LOC = "L30" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_TXD_0<7>"      LOC = "J28" |SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25;
NET "PHY_CRS_0"         LOC = "R30" |IOSTANDARD=LVCMOS25;
NET "PHY_COL_0"         LOC = "W19" |IOSTANDARD=LVCMOS25;
NET "PHY_RXER_0"        LOC = "V26" |IOSTANDARD=LVCMOS25;
NET "PHY_RXCTRL_RXDV_0" LOC = "R28" |IOSTANDARD=LVCMOS25;
NET "PHY_RXCLK_0"       LOC = "U27" |IOSTANDARD=LVCMOS25;
NET "PHY_RXD_0<0>"      LOC = "U30" |IOSTANDARD=LVCMOS25;
NET "PHY_RXD_0<1>"      LOC = "U25" |IOSTANDARD=LVCMOS25;
NET "PHY_RXD_0<2>"      LOC = "T25" |IOSTANDARD=LVCMOS25;
NET "PHY_RXD_0<3>"      LOC = "U28" |IOSTANDARD=LVCMOS25;
NET "PHY_RXD_0<4>"      LOC = "R19" |IOSTANDARD=LVCMOS25;
NET "PHY_RXD_0<5>"      LOC = "T27" |IOSTANDARD=LVCMOS25;
NET "PHY_RXD_0<6>"      LOC = "T26" |IOSTANDARD=LVCMOS25;
NET "PHY_RXD_0<7>"      LOC = "T28" |IOSTANDARD=LVCMOS25;
#NET "PHY_INT_0"         LOC = "N30" |IOSTANDARD=LVCMOS25;
NET "GPIO_LED_0<0>"      LOC = "AB8" |SLEW=SLOW |IOSTANDARD=LVCMOS18;
NET "GPIO_LED_0<1>"      LOC = "AA8" |SLEW=SLOW |IOSTANDARD=LVCMOS18;
NET "GPIO_LED_0<2>"      LOC = "AC9" |SLEW=SLOW |IOSTANDARD=LVCMOS18;
NET "GPIO_LED_0<3>"      LOC = "AB9" |SLEW=SLOW |IOSTANDARD=LVCMOS18;
#NET "GPIO_LED_0<4>"      LOC = "AE26" |SLEW=SLOW |IOSTANDARD=LVCMOS25;
#NET "GPIO_LED_0<5>"      LOC = "G19" |SLEW=SLOW |IOSTANDARD=LVCMOS25;
#NET "GPIO_LED_0<6>"      LOC = "E18" |SLEW=SLOW |IOSTANDARD=LVCMOS25;
#NET "GPIO_LED_0<7>"      LOC = "F16" |SLEW=SLOW |IOSTANDARD=LVCMOS25;

NET "SYSCLK_P_0" TNM_NET = SYSCLK_P_0;
TIMESPEC TS_SYSCLK_P_0 = PERIOD "SYSCLK_P_0" 200 MHz HIGH 50%;
NET "SYSCLK_N_0" TNM_NET = SYSCLK_N_0;
TIMESPEC TS_SYSCLK_N_0 = PERIOD "SYSCLK_N_0" 200 MHz HIGH 50%;
NET "PHY_RXCLK_0" TNM_NET = PHY_RXCLK_0;
TIMESPEC TS_PHY_RXCLK_0 = PERIOD "PHY_RXCLK_0" 125 MHz HIGH 50%;
################################################################################
# I2C Location assignments (KC705 pinout, connects to FMC connectors)
################################################################################
NET "I2C_SCL_0" LOC="K21" |IOSTANDARD=LVCMOS25;
NET "I2C_SDA_0" LOC="L21" |IOSTANDARD=LVCMOS25;
################################################################################
################################## Clock Constraints ##########################


 NET "*/q0_clk1_refclk_i" TNM_NET = "q0_clk1_refclk_i";
 TIMESPEC "TS_q0_clk1_refclk_i" = PERIOD "q0_clk1_refclk_i" 8.0;

NET "*/SYSCLK_IN" TNM_NET = "SYSCLK_IN";
TIMESPEC "TS_SYSCLK_IN" = PERIOD "SYSCLK_IN" 10.0;

# User Clock Constraints
NET "*/gt0_txusrclk_i" TNM_NET = "gt0_txusrclk_i";
TIMESPEC "TS_gt0_txusrclk_i" = PERIOD "gt0_txusrclk_i" 3.2;

NET "*/gt0_txusrclk2_i" TNM_NET = "gt0_txusrclk2_i";
TIMESPEC "TS_gt0_txusrclk2_i" = PERIOD "gt0_txusrclk2_i" 6.4;



####################### GT reference clock constraints #######################

NET ref_clk_n_0  LOC=G7;
NET ref_clk_p_0  LOC=G8;


################################# mgt wrapper constraints #####################

##---------- Set placement for gt0_gtx_wrapper_i/GTX_QUAD ------
INST */k7_gtxwizard_v1_6_*/gt0_k7_gtxwizard_v1_6_*/gtxe2_i LOC=GTXE2_CHANNEL_X0Y8;

NET trig_out_0 LOC=Y23 |IOSTANDARD=LVCMOS25;
################################################################################
# Clock constraints
################################################################################

NET "DCO_P_1<0>" TNM_NET = DCO0;
TIMESPEC TS_DCO0 = PERIOD "DCO0" 500 MHz HIGH 50%;
NET "DCO_P_1<1>" TNM_NET = DCO1;
TIMESPEC TS_DCO1 = PERIOD "DCO1" 500 MHz HIGH 50%;
NET "DCO_P_1<2>" TNM_NET = DCO2;
TIMESPEC TS_DCO2 = PERIOD "DCO2" 500 MHz HIGH 50%;

NET "CLK_TO_FPGA_P_1" TNM_NET = CLK_TO_FPGA_P_1;
TIMESPEC TS_CLK_TO_FPGA_P_1 = PERIOD "CLK_TO_FPGA_P_1" 500 MHz HIGH 50%;

#NET "adc0_clka_p_1" CLOCK_DEDICATED_ROUTE = FALSE;
NET "EXT_TRIGGER_P_1" CLOCK_DEDICATED_ROUTE = FALSE;


################################################################################
# FMC signals (FMC112 on KC705 LPC)
################################################################################
NET "CLK_TO_FPGA_N_1" LOC="AG23";
NET "CLK_TO_FPGA_P_1" LOC="AF22";
NET "CTRL_1<0>" LOC="AB29" |IOSTANDARD=LVCMOS25 |SLEW=SLOW;
NET "CTRL_1<1>" LOC="AB30" |IOSTANDARD=LVCMOS25 |SLEW=SLOW;
NET "CTRL_1<2>" LOC="AD29" |IOSTANDARD=LVCMOS25 |SLEW=SLOW;
NET "CTRL_1<3>" LOC="AE29" |IOSTANDARD=LVCMOS25 |SLEW=SLOW;
NET "CTRL_1<4>" LOC="Y30 " |IOSTANDARD=LVCMOS25 |SLEW=SLOW;
NET "CTRL_1<5>" LOC="AA30" |IOSTANDARD=LVCMOS25 |SLEW=SLOW;
NET "CTRL_1<6>" LOC="AC29" |IOSTANDARD=LVCMOS25 |SLEW=SLOW;
NET "CTRL_1<7>" LOC="AC30" |IOSTANDARD=LVCMOS25 |SLEW=SLOW;
NET "DCO_N_1<0>" LOC="AE24" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "DCO_N_1<1>" LOC="AF23" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "DCO_N_1<2>" LOC="AC27" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "DCO_P_1<0>" LOC="AD23" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "DCO_P_1<1>" LOC="AE23" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "DCO_P_1<2>" LOC="AB27" |IOSTANDARD = "LVDS_25" |DIFF_TERM = TRUE;
NET "FRAME_N_1<0>" LOC="AK21";
NET "FRAME_N_1<1>" LOC="AD28";
NET "FRAME_N_1<2>" LOC="AD26";
NET "FRAME_P_1<0>" LOC="AK20";
NET "FRAME_P_1<1>" LOC="AD27";
NET "FRAME_P_1<2>" LOC="AC26";
NET "OUTA_N_1<0>" LOC="AK24";
NET "OUTA_N_1<1>" LOC="AH25";
NET "OUTA_N_1<2>" LOC="AJ21";
NET "OUTA_N_1<3>" LOC="AF21";
NET "OUTA_N_1<4>" LOC="AK26";
NET "OUTA_N_1<5>" LOC="AD24";
NET "OUTA_N_1<6>" LOC="AC25";
NET "OUTA_N_1<7>" LOC="AF25";
NET "OUTA_N_1<8>" LOC="AF30";
NET "OUTA_N_1<9>" LOC="AK30";
NET "OUTA_N_1<10>" LOC="AH27";
NET "OUTA_N_1<11>" LOC="AG28";
NET "OUTA_P_1<0>" LOC="AK23";
NET "OUTA_P_1<1>" LOC="AG25";
NET "OUTA_P_1<2>" LOC="AH21";
NET "OUTA_P_1<3>" LOC="AF20";
NET "OUTA_P_1<4>" LOC="AJ26";
NET "OUTA_P_1<5>" LOC="AC24";
NET "OUTA_P_1<6>" LOC="AB24";
NET "OUTA_P_1<7>" LOC="AE25";
NET "OUTA_P_1<8>" LOC="AE30";
NET "OUTA_P_1<9>" LOC="AK29";
NET "OUTA_P_1<10>" LOC="AH26";
NET "OUTA_P_1<11>" LOC="AG27";
NET "OUTB_N_1<0>" LOC="AK25";
NET "OUTB_N_1<1>" LOC="AJ23";
NET "OUTB_N_1<2>" LOC="AH22";
NET "OUTB_N_1<3>" LOC="AH20";
NET "OUTB_N_1<4>" LOC="AF27";
NET "OUTB_N_1<5>" LOC="AD22";
NET "OUTB_N_1<6>" LOC="AE21";
NET "OUTB_N_1<7>" LOC="AB20";
NET "OUTB_N_1<8>" LOC="AF28";
NET "OUTB_N_1<9>" LOC="AJ29";
NET "OUTB_N_1<10>" LOC="AH30";
NET "OUTB_N_1<11>" LOC="AK28";
NET "OUTB_P_1<0>" LOC="AJ24";
NET "OUTB_P_1<1>" LOC="AJ22";
NET "OUTB_P_1<2>" LOC="AG22";
NET "OUTB_P_1<3>" LOC="AG20";
NET "OUTB_P_1<4>" LOC="AF26";
NET "OUTB_P_1<5>" LOC="AC22";
NET "OUTB_P_1<6>" LOC="AD21";
NET "OUTB_P_1<7>" LOC="AA20";
NET "OUTB_P_1<8>" LOC="AE28";
NET "OUTB_P_1<9>" LOC="AJ28";
NET "OUTB_P_1<10>" LOC="AG30";
NET "OUTB_P_1<11>" LOC="AJ27";
NET "EXT_TRIGGER_N_1" LOC="AH29";
NET "EXT_TRIGGER_P_1" LOC="AG29";
NET "PRSNT_M2C_L_1" LOC="J22" |IOSTANDARD=LVCMOS25 |SLEW=SLOW;
################################################################################
